@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background: #010101;
  color: #f1f1f1;
  font-family: 'Cousine', monospace;
  max-width: 500px;
  margin: auto;
}

h1 {
  width: 70%;
  height: 70px;
  margin: 25px auto;

  text-align: center;
  line-height: 75px;
  font-size: 3em;
  font-weight: 700;

  border: 3px solid;
}

table {
  margin: 50px auto;
  width: 90%;
}

th {
  font-size: 1.2em;
  font-weight: 700;
}

a {
  color: #f1f1f1;
}

td {
  font-size: 0.9em;
  font-weight: 400;
}

/*
td:first-child, th:first-child {
  text-align: left;
}
*/

td:last-child, th:last-child {
  text-align: right;
}

th, td, tr{
  padding: 8px 10px;
  text-align: center;
}

footer {
  margin-top: 200px;
  text-align: center;
  font-size: 0.8em;
}
