@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --box-height: 35px;
  --border-wid: 2px;
  --bg: white;
  --fg: #010101;
  --amzn-fg: #000000;
  --amzn-bg: #add8e6;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: 'IBM Plex Sans', sans-serif;
  max-width: 500px;
  margin: auto;
}

h1 {
  width: 70%;
  height: 70px;
  margin: 25px auto;

  text-align: center;
  line-height: 75px;
  font-size: 3em;
  font-weight: 700;
}

.item-container {
  width: 70%;
  margin: 50px auto;
  border: var(--border-wid) solid;
  border-radius: 10px;
}

.item-title, .item-info, .item-note {
  text-align: center;
  border-top: var(--border-wid) solid var(--fg);
  line-height: var(--box-height);
  min-height: var(--box-height);
  margin: 0;
}

.item-note {
  font-size: 0.88em;
}

.item-image {
  /* with 35px image height is 35*8=280px */
  height: calc(8 * var(--box-height));
  margin: auto;
  position: relative;
}

.item-image img {
  max-width: 90%;
  max-height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.item-title {
  font-weight: 700;
}

.item-price, .item-link {
  display: inline-block;
}

.item-link {
  width: 50%;
  color: var(--amzn-fg);
  background: var(--amzn-bg);
  text-decoration: none;
  font-weight: 400;
}

.item-price {
  width: calc(50% - var(--border-wid));
  border-left: var(--border-wid) solid var(--fg);
}

footer {
  margin: 100px auto;
  text-align: center;
  font-size: 0.8em;
}
