* {
    font-family: 'Open Sans', sans-serif;
	margin : auto;
}

body {
	text-align: center;
	@media only screen and (max-width: 660px) {
		margin-top : 30px;
		margin-left : 20px;
		margin-right : 20px;
	}
}
