.post-list {
	font-size : 13pt;
	color : black;
	// list-style-type: none;
	padding-left : 0px;
	text-align : left;
	width : 45%;
	@media only screen and (max-width: 660px) {
		width : 100%;
	}
}

.post-list-title {
	width : 45%;
	text-align : left;
	margin : 0;
	@media only screen and (max-width: 660px) {
		text-align : center;
		width : 100%;
	}
}

.post-list-list {
	li {
		margin : 20px 0;
	}
	i {
		font-size : 11pt;
		display : block;
	}
	a {
		color : black;
	}
}
