.post-container {
	text-align: left;
	width : 750px;
	h1 {
		width : 100vh;
		margin-bottom : 0;
	}
	.post-date {
		margin : 0;
		margin-bottom : 20px;
	}
	h2,h3 {
		margin-top : 30px;
		margin-bottom : 5px;
	}
	p {
		margin : 10px 0;
		line-height : 24px;
	}
	img {
		width : 90%;
		margin-left : auto;
		margin-right : auto;
		display : block;
	}
	pre {
		padding : 16px;
		overflow : auto;
		margin : 10px 0;
	}
	code, pre {
		background : #f6f8fa;
		border-radius : 6px;
		font-size : 90%;
	}
	code {
		padding : 1px;
		font-family : 'PT Mono', monospace;
	}
	@media only screen and (max-width: 660px) {
		width : 95%;
		margin-left : 10px;
		margin-right : 10px;
		font-size : 12pt;
		img {
			width : 90%;
		}
		h1 {
			margin-left : 0;
			margin-right : 0;
			width : 95%;
			font-size : 18pt;
		}
	}
}
