.post-list {
	font-size : 13pt;
	color : black;
	list-style-type: none;
	padding-left : 0px;
	li {
		margin : 20px 0;
	}
	i, span {
		font-size : 11pt;
	}
	a {
		color : black;
	}
	span{
		display: inline-block;
		width : 60px;
		margin-right : 5px;
		text-align : right;
		color : #555;
		font-family : 'Pt Mono', monospace;
	}
	@media only screen and (max-width: 660px) {
		font-size : 15pt;
		b{
			display : block;
		}
		i, span {
			font-size : 12pt;
		}
		span {
			display : inline-block;
			width : auto;
			text-align : left;
		}
	}
}
